{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <h4>We Are Al Topaz</h4>
                            <span> Your One-Stop Shop for Unparalleled Finds and Hidden Gems</span>
                        </div>
                        <img src="{% static 'images/home.jpg'%}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Men Area Starts ***** -->
<section class="section" id="men">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Our Latest</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="men-item-carousel">
                    <div class="owl-men-item owl-carousel">
                        {% for product in products %}
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="{% url 'product' pk=product.pk %}"><i class="fa fa-eye"></i></a>
                                        </li>
                                        <li><a href="{% url 'product' pk=product.pk %}"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li><a href="{% url 'product' pk=product.pk %}"><i
                                                    class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="{{ product.image.url }}" alt="">
                            </div>
                            <div class="down-content">
                                <h4>{{ product.name }}</h4>
                                <span>${{ product.price|floatformat:2 }}</span>
                                <ul class="stars">
                                    {% with ""|center:product.stars as range %}
                                    {% for _ in range %}<li><i class="fa fa-star"></i></li>{% endfor %}
                                    {% endwith %}
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Men Area Ends ***** -->







<!-- ***** Explore Area Starts ***** -->
<section class="section" id="explore">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <h2>Explore Our Products</h2>
                    <span>Embark on a journey of discovery as you explore the eclectic assortment at Al Topaz. Our
                        curated collection is a testament to our commitment to providing you with a diverse array of
                        high-quality and unique products. From stylish accessories to innovative gadgets, and everything
                        in between, our offerings cater to the diverse tastes and preferences of our discerning
                        customers.</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i>
                        <p>In order to be irreplaceable, one must always be different.</p>
                    </div>
                    <p>At Al Topaz, we celebrate individuality, offering products that stand out from the ordinary. Each
                        item has been carefully selected to bring a touch of distinction to your life, whether through
                        its design, functionality, or sheer novelty.</p>
                    <p>Our team is dedicated to sourcing products that not only meet our stringent quality standards but
                        also bring joy and utility to your everyday life. From the latest trends to timeless classics,
                        we curate our collection with an eye for the exceptional, ensuring that every item tells a
                        unique story.</p>
                    <p>So, go ahead and explore our products – your gateway to a world of delightful surprises and
                        unparalleled finds. At Al Topaz, we invite you to indulge in the extraordinary, because life is
                        too short for ordinary.</p>
                    <div class="main-border-button">
                        <a href="products.html">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="leather">
                                <h4>Leather Bags</h4>
                                <span>Latest Collection</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="first-image">
                                <img src="{% static 'images/explore-image-01.jpg'%}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="second-image">
                                <img src="{% static 'images/explore-image-02.jpg'%}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="types">
                                <h4>Different Types</h4>
                                <span>Over 300 Products</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Explore Area Ends ***** -->
{% endblock %}